.grid-layout {
  display: grid;
  grid-template-columns: 1fr 290px; /* Adjust the width as needed */
  grid-gap: 20px; /* Adjust the gap between the columns as needed */
}

.left-half {
  grid-column: 1;
}

.right-half {
  grid-column: 2;
}