.achievement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
}

.achievement img {
    width: 75px;
    height: auto;
    margin-right: 10px;
}

.achievement-details {
    flex-grow: 1;
}

.KarmaTitle {
    border-bottom: none !important;
}

.achievement-points {
    text-align: right;
}

.karma-page {
    display: flex;
    justify-content: space-between;
}

.karma-main {
    flex-grow: 3;
    margin-right: 20px;
}

.karma-sidebar {
    flex-grow: 1;
    text-align: center;
}

.total-points {
    border: 1px solid #ddd;
    padding: 10px;
}

.karma-leaderboard {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
}
