/**
 * Button ad styling for the Vector skin
 */
#p-ads-left {
	margin-bottom: 20px;
	right: 0px;
	text-align: center;
	width: 150px;
	z-index: 1;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 250px; /* Adjust the width as needed */
  grid-gap: 20px; /* Adjust the gap between the columns as needed */
}

.left-half {
  grid-column: 1;
}

.right-half {
  grid-column: 2;
}
